<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Editor</h3>
</div>
<div class="panel-body">
<div id="editor">
def foo
x = "All this is syntax highlighted";
return x;
end
puts foo
</div>
</div>
</div>
<div class="text-center"></div>
</div>
