<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Editor</h3>
</div>
<div class="panel-body">
<div id="editor">
<% if ticker.content %>
<%= ticker.content %>
<% else %>
# something like:
# `curl "localhost:3000/update_output?name=ThisTickerName\&amp;output=#{SecureRandom.urlsafe_base64}"`

# do not use "exit"
# and do not raise any errors, or zombie processes may result

<% end %>

</div>
</div>
</div>
<div class="text-center"></div>
</div>
