<% active ||= nil %>

<div class="blog-masthead"><div class="container"><nav class="blog-nav">
    <a class="blog-nav-item <%= "active" if active=="tickers" %>" href="/">Tickers</a>
    <a class="blog-nav-item <%= "active" if active=='new' %>" href="new">Create</a>
    <a class="blog-nav-item <%= "active" if active=='sample' %>" href="sample">Telestrap</a>
</nav></div></div>